In [7]:
heights = []
male_heights = [170, 163, 178, 165]
female_heights = [166, 160]
heights = male_heights + female_heights
print(heights)

[170, 163, 178, 165, 166, 160]

In [8]:
heights.append(168)
print(heights)
print(heights[::-1])

[170, 163, 178, 165, 166, 160, 168]
[168, 160, 166, 165, 178, 163, 170]

In [9]:
last_height = heights[-1]
print(last_height)

168

In [10]:
n_heights = len(heights)
print(n_heights)

7

In [11]:
range_a = range(n_heights)
print(list(range_a))

[0, 1, 2, 3, 4, 5, 6]

In [12]:
range_b = range(2, 16)
print(list(range_b))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [13]:
range_c = range(5, -10, -4)
print(list(range_c))

[5, 1, -3, -7]

In [14]:
fast_foods = ["Salchipapa", "Pizza", "Hamburguesa", "Hot Dog"]
prices = [20000, 7000, 20000, 2500]
food_prices = list(zip(fast_foods, prices))
print(food_prices)

[('Salchipapa', 20000), ('Pizza', 7000), ('Hamburguesa', 20000), ('Hot Dog', 2500)]

In [15]:
print(food_prices[0][1])

20000

In [16]:
names = ['Garavito', 'Santana', 'Joshua', 'Zabala', 'Juan Pablo']
for name in names:
    print(name)

Garavito
Santana
Joshua
Zabala
Juan Pablo

In [17]:
for i in range(len(names)):
    print(names[i])

Garavito
Santana
Joshua
Zabala
Juan Pablo

In [18]:
counter = 5
while counter < 15:
    print(counter)
    counter += 1

5
6
7
8
9
10
11
12
13
14

In [20]:
m = 3
b = -5
x = [-1, 3, 2, -4, 10, 15, -8, 0]
# y = mx + b
y = [m*xi + b for xi in x]
print(y)

[-8, 4, 1, -17, 25, 40, -29, -5]

In [21]:
A = [1, 3, 5, 18]
B = [4, -1, 100]
max_A = 0
max_B = 0
for a in A:
    if a > max_A:
        max_A = a
for b in B:
    if b > max_B:
        max_B = b
if max_A > max_B:
    print("La lista con el número mayor es la lista A")
else:
    print("La lista con el número mayor es la lista B")

La lista con el número mayor es la lista B

In [25]:
n_A = int(input("¿Cuántos datos hay en la lista A?: \n"))
A = []
for i in range(n_A):
    A.append(int(input("Ingrese el valor " + str(i + 1) + " de la lista: ")))
print("Lista A: " + str(A))

n_B = int(input("¿Cuántos datos hay en la lista B?: \n"))
B = []
for i in range(n_B):
    B.append(int(input("Ingrese el valor " + str(i + 1) + " de la lista: ")))
print("Lista B: " + str(B))

max_A = 0
max_B = 0
for a in A:
    if a > max_A:
        max_A = a
for b in B:
    if b > max_B:
        max_B = b
if max_A > max_B:
    print("La lista con el número mayor es la lista A")
else:
    print("La lista con el número mayor es la lista B")

¿Cuántos datos hay en la lista A?:
10
Ingrese el valor 1 de la lista: 1
Ingrese el valor 2 de la lista: 7
Ingrese el valor 3 de la lista: 3
Ingrese el valor 4 de la lista: 90
Ingrese el valor 5 de la lista: 5
Ingrese el valor 6 de la lista: 6
Ingrese el valor 7 de la lista: 2
Ingrese el valor 8 de la lista: 6
Ingrese el valor 9 de la lista: 8
Ingrese el valor 10 de la lista: 13
Lista A: [1, 7, 3, 90, 5, 6, 2, 6, 8, 13]
¿Cuántos datos hay en la lista B?:
5
Ingrese el valor 1 de la lista: 1
Ingrese el valor 2 de la lista: 5
Ingrese el valor 3 de la lista: 67
Ingrese el valor 4 de la lista: 1
Ingrese el valor 5 de la lista: 2
Lista B: [1, 5, 67, 1, 2]
La lista con el número mayor es la lista A

Given the names and grades for each student in a class of  students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

#### Example

The ordered list of scores is , so the second lowest score is . There are two students with that score: . Ordered alphabetically, the names are printed as:

```
alpha
beta
```

#### Input Format

The first line contains an integer, , the number of students.
The  subsequent lines describe each student over  lines.
- The first line contains a student's name.
- The second line contains their grade.

#### Constraints

- $2 <= N <= 5$
- There will always be one or more students having the second lowest grade.

#### Output Format

Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students, order their names alphabetically and print each one on a new line.

Sample Input 0

```
5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
```

#### Sample Output 0

```
Berry
Harry
```

#### Explanation 0

There are  students in this class whose names and grades are assembled to build the following list:

`python students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]`

The lowest grade of  belongs to Tina. The second lowest grade of  belongs to both Harry and Berry, so we order their names alphabetically and print each name on a new line.

In [3]:
if __name__ == '__main__':
    names = []
    scores = []
    for _ in range(int(input("How many students?: "))):
        name = input("Name: ")
        score = float(input("Score: "))
        names.append(name)
        scores.append(score)
        
name_score = []

for i in range(len(names)):
    name_score.append([names[i], scores[i]])

scores.sort()    

min_points = min(scores)
second_score_index = 0
for score in scores:
    if score == min_points:
        second_score_index += 1

second_names = []
for pair in name_score:
    if pair[1] == scores[second_score_index]:
        second_names.append(pair[0])

second_names.sort()
for name in second_names:
    print(f'Second lowest score: {name}')

How many students?: 3
Name: John
Score: 1
Name: Albert
Score: 2
Name: Einstein
Score: 3
Second lowest score: Albert