In [1]:
import pandas as pd

my_data = {
    "name": ["Joshua", "Camilo", "Santana", "Sebasti√°n", "Jimena"],
    "age": [20, 19, 20, 19, 20],
    "height": [180, 177, 169, 163, 159],
    "weight": [78, 78, 68, 50, 60]
}

my_df = pd.DataFrame(my_data)

In [2]:
print(my_df.describe(), '\n', '-'*30, '\n')
print(my_df.describe().std(), '\n', '-'*30, '\n')
print(my_df['age'].describe().std(), '\n', '-'*30, '\n')

             age      height     weight
count   5.000000    5.000000   5.000000
mean   19.600000  169.600000  66.800000
std     0.547723    8.933085  12.049896
min    19.000000  159.000000  50.000000
25%    19.000000  163.000000  60.000000
50%    20.000000  169.000000  68.000000
75%    20.000000  177.000000  78.000000
max    20.000000  180.000000  78.000000
 ------------------------------

age        7.890227
height    75.594215
weight    28.534748
dtype: float64
 ------------------------------

7.89022726100791
 ------------------------------

In [3]:
print(type(my_df.describe()))

<class 'pandas.core.frame.DataFrame'>

In [4]:
spotify_df = pd.read_csv('spotify_top_charts_22.csv')
spotify_df.head()

,uri,artist_names,track_name,peak_rank,weeks_on_chart,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,tempo,time_signature,duration_ms
0,spotify:track:02MWAaffLxlfxAUY7c5dvx,Glass Animals,Heat Waves,1,65,0.761,0.525,11,-6.900,1,0.0944,0.4400,0.000007,0.0921,80.870,4,238805
1,spotify:track:5PjdY0CKGZdEuoNab3yDmX,"The Kid LAROI, Justin Bieber",STAY (with Justin Bieber),1,37,0.591,0.764,1,-5.484,1,0.0483,0.0383,0.000000,0.1030,169.928,4,141806
2,spotify:track:3IAfUEeaXRX9s9UdKOJrFI,Anitta,Envolver,3,3,0.812,0.736,4,-5.421,0,0.0833,0.1520,0.002540,0.0914,91.993,4,193806
3,spotify:track:1HhNoOuqm1a5MXYEgAFl8o,"Imagine Dragons, JID, Arcane, League of Legends",Enemy (with JID) - from the series Arcane Leag...,3,21,0.728,0.783,11,-4.424,0,0.2660,0.2370,0.000000,0.4340,77.011,4,173381
4,spotify:track:4fouWK6XVHhzl78KzQ1UjL,GAYLE,abcdefu,1,19,0.695,0.540,4,-5.692,1,0.0493,0.2990,0.000000,0.3670,121.932,4,168602

In [5]:
spotify_df.dtypes

uri                  object
artist_names         object
track_name           object
peak_rank             int64
weeks_on_chart        int64
danceability        float64
energy              float64
key                   int64
loudness            float64
mode                  int64
speechiness         float64
acousticness        float64
instrumentalness    float64
liveness            float64
tempo               float64
time_signature        int64
duration_ms           int64
dtype: object

In [6]:
spotify_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 646 entries, 0 to 645
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   uri               646 non-null    object
 1   artist_names      646 non-null    object
 2   track_name        646 non-null    object
 3   peak_rank         646 non-null    int64
 4   weeks_on_chart    646 non-null    int64
 5   danceability      646 non-null    float64
 6   energy            646 non-null    float64
 7   key               646 non-null    int64
 8   loudness          646 non-null    float64
 9   mode              646 non-null    int64
 10  speechiness       646 non-null    float64
 11  acousticness      646 non-null    float64
 12  instrumentalness  646 non-null    float64
 13  liveness          646 non-null    float64
 14  tempo             646 non-null    float64
 15  time_signature    646 non-null    int64
 16  duration_ms       646 non-null    int64
dtypes: float64(8), int64(6), object(3)
memory usage: 85.9+ KB

In [7]:
spotify_df_filtered_columns = spotify_df[['artist_names', 'track_name', 'peak_rank', 'weeks_on_chart', 'duration_ms']]
spotify_df_filtered_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 646 entries, 0 to 645
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   artist_names    646 non-null    object
 1   track_name      646 non-null    object
 2   peak_rank       646 non-null    int64
 3   weeks_on_chart  646 non-null    int64
 4   duration_ms     646 non-null    int64
dtypes: int64(3), object(2)
memory usage: 25.4+ KB

In [8]:
spotify_df_filtered_columns['peak_rank'].unique()

array([  1,   3,   4,   5,   2,   8,   6,  11,  13,  14,  16,  18,  23,
        21,  12,  17,  19,  31,   9,  29,  35,  39,   7,  44,  45,  32,
        48,  36,  53,  57,  58,  61,  34,  63,  65,  38,  72,  74,  75,
        50,  77,  69,  51,  52,  80,  10,  90,  67,  66,  55,  99,  24,
        43, 106,  15,  37, 101,  33, 113,  68, 102,  92, 122, 123, 117,
       127, 109, 112, 130, 111,  81, 136, 138, 128, 116, 152,  40,  98,
       157,  60, 108, 165, 142,  42, 110,  83,  56, 104, 180, 149, 184,
       186,  22, 189, 194, 174,  26,  28,  41,  30,  25,  78,  20,  86,
        93, 103, 105,  54,  27, 121, 126, 114, 135, 129, 150, 161, 168,
        64, 164, 100,  59,  46, 193, 198,  85,  96, 148, 140,  87, 124,
        89,  79, 171,  70, 188, 191, 107,  91,  97, 115, 166, 133,  62,
        95, 158, 173, 141, 131, 139, 181, 144, 119, 134, 155,  71,  82,
       154, 167, 196, 183,  73,  76, 179, 143, 118, 151, 192, 125, 185,
       197, 159, 187, 190, 175, 177, 178, 137, 163, 200,  49,  94, 146,
       160], dtype=int64)

In [9]:
spotify_df_filtered_columns_top_10 = spotify_df_filtered_columns[spotify_df_filtered_columns['peak_rank'] <= 10]
spotify_df_filtered_columns_top_10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121 entries, 0 to 639
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   artist_names    121 non-null    object
 1   track_name      121 non-null    object
 2   peak_rank       121 non-null    int64
 3   weeks_on_chart  121 non-null    int64
 4   duration_ms     121 non-null    int64
dtypes: int64(3), object(2)
memory usage: 5.7+ KB

In [10]:
spotify_df_filtered_columns_top_10_weeks_100 =spotify_df_filtered_columns_top_10[spotify_df_filtered_columns_top_10['weeks_on_chart'] >= 100]
spotify_df_filtered_columns_top_10_weeks_100.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 26 to 625
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   artist_names    18 non-null     object
 1   track_name      18 non-null     object
 2   peak_rank       18 non-null     int64
 3   weeks_on_chart  18 non-null     int64
 4   duration_ms     18 non-null     int64
dtypes: int64(3), object(2)
memory usage: 864.0+ bytes

In [11]:
spotify_df_filtered_columns_top_10_weeks_100

,artist_names,track_name,peak_rank,weeks_on_chart,duration_ms
26,The Weeknd,Blinding Lights,1,121,200040
72,Harry Styles,Watermelon Sugar,4,123,174000
84,Dua Lipa,Don't Start Now,2,125,183290
93,"Post Malone, Swae Lee",Sunflower - Spider-Man: Into the Spider-Verse,1,179,157560
106,Lewis Capaldi,Someone You Loved,4,168,182161
139,Ed Sheeran,Shape of You,1,269,233713
150,Ed Sheeran,Perfect,4,262,263400
158,Post Malone,Circles,1,134,215280
166,Tones And I,Dance Monkey,1,140,209438
177,Juice WRLD,Lucid Dreams,3,194,239836
189,"The Chainsmokers, Coldplay",Something Just Like This,2,172,247160
194,"Shawn Mendes, Camila Cabello",Se√±orita,1,138,190800
198,James Arthur,Say You Won't Let Go,7,268,211467
374,"Lady Gaga, Bradley Cooper",Shallow,3,171,215733
388,Maroon 5,Memories,2,116,189486
441,Harry Styles,Adore You,6,104,207133
484,XXXTENTACION,Jocelyn Flores,7,216,119133
625,"The Chainsmokers, Halsey",Closer,2,179,244960

In [17]:
spotify_10_100 = spotify_df.loc[(spotify_df['peak_rank'] <= 10) & (spotify_df['weeks_on_chart'] >= 100),
                                ['artist_names', 'track_name', 'duration_ms']]

In [18]:
spotify_10_100.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 26 to 625
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_names  18 non-null     object
 1   track_name    18 non-null     object
 2   duration_ms   18 non-null     int64
dtypes: int64(1), object(2)
memory usage: 576.0+ bytes

In [23]:
x = spotify_10_100.describe().mean()

In [24]:
mean_mins = x / 60000
print(mean_mins)

duration_ms    2.593473
dtype: float64